<footer>
    <div class="container">
        <div class="wrap-footer">
            <div class="row">
                <div class="col-md-3 col-footer footer-1">
                    <img src="~/Asset/images/logofooter.jpg" />
                    <p>Cam kết sản phẩm chính hảng, lỗi hàng đổi trả trong 24h.</p>
                </div>
                <div class="col-md-3 col-footer footer-2">
                    <div class="heading"><h4>Customer Service</h4></div>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Delivery Information</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-footer footer-3">
                    <div class="heading"><h4>My Account</h4></div>
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Brands</a></li>
                        <li><a href="#">Gift Vouchers</a></li>
                        <li><a href="#">Specials</a></li>
                        <li><a href="#">Site Map</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-footer footer-4">
                    <div class="heading"><h4>Contact Us</h4></div>
                    <ul>
                        <li><span class="glyphicon glyphicon-home"></span>TP. Hồ Chí Minh</li>
                        <li><span class="glyphicon glyphicon-earphone"></span>+84 356205044</li>
                        <li><span class="glyphicon glyphicon-envelope"></span>ngay9thang12nam2001@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    Your Store © 2021 - Designed by <a href="" rel="nofollow" target="_blank">Thành Long</a>
                </div>
                <div class="col-md-6">
                    <div class="pull-right">
                        <ul>
                            <li><img src="~/Asset/images/visa-curved-32px.png" /></li>
                            <li><img src="~/Asset/images/paypal-curved-32px.png" /></li>
                            <li><img src="~/Asset/images/discover-curved-32px.png" /></li>
                            <li><img src="~/Asset/images/maestro-curved-32px.png" /></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="~/Asset/js/product/product.js"></script>